.super-mario {
    width: 200px;
    position: absolute;
    z-index: 2;
    left: 125px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 1;
    left: 170px;
    top: 390px;
  }
  
  .baloon {
    position: absolute;
    z-index: 1;
    left: 370px;
    top: 100px;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    z-index: 3;
    left: 390px;
    top: 135px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 650px;
    top: 220px;
  }